services:
  coturn:
    image: coturn/coturn:4.6.2
    container_name: vvoice-coturn
    command: ["-c", "/etc/coturn/turnserver.conf"]
    ports:
      - "3478:3478/tcp"
      - "3478:3478/udp"
      - "5349:5349/tcp"
      - "5349:5349/udp"
      - "49160-49200:49160-49200/udp"
    volumes:
      - ./turnserver.conf:/etc/coturn/turnserver.conf:ro
    restart: unless-stopped
